### Data exploration via SQL within interactive notebook

In [2]:
# Import libraries

import numpy as np
import pandas as pd

In [3]:
# Load csv file as pandas dataframe

details = pd.read_csv('data\\databook_details.csv')
details.head()

,id,title,subtitle,authors,publisher,published_date,category
0,9783319688374,Essentials of Business Analytics,An Introduction to the Methodology and its App...,"Bhimasankaram Pochiraju, Sridhar Seshadri",Springer,7/10/2019,Business Analytics
1,9781466596092,Business Analytics,An Introduction,Jay Liebowitz,CRC Press,12/19/2013,Business Analytics
2,1292017430,Key Business Analytics,The 60+ Business Analysis Tools Every Manager ...,Bernard Marr,FT Press,1/18/2016,Business Analytics
3,9781119298588,Business Analytics for Managers,Taking Business Intelligence Beyond Reporting,"Gert H. N. Laursen, Jesper Thorlund",John Wiley & Sons,11/7/2016,Business Analytics
4,9781118572153,Data Mining and Business Analytics with R,NaN,Johannes Ledolter,John Wiley & Sons,5/28/2013,Business Analytics

In [2]:
# Load SQL magic and connect to local database

%load_ext sql
%sql sqlite:///data/data_science_books.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @data/data_science_books.db'

We have now connected to the data_science_books.db local database and can now query the database. The databse consists of tables with the names *details*, *description*, and *price*.