## Data exploration via SQL within interactive notebook

In [1]:
import pandas as pd

We will first display a portion of the data using pandas via readng the csv files

In [2]:
# Load csv file as pandas dataframe

details = pd.read_csv('data\\details.csv')
details.head(3)

,id,title,subtitle,authors,publisher,published_date,category
0,9.78332E+12,Essentials of Business Analytics,An Introduction to the Methodology and its App...,"Bhimasankaram Pochiraju, Sridhar Seshadri",Springer,7/10/2019,Business Analytics
1,9.78147E+12,Business Analytics,An Introduction,Jay Liebowitz,CRC Press,12/19/2013,Business Analytics
2,1292017430,Key Business Analytics,The 60+ Business Analysis Tools Every Manager ...,Bernard Marr,FT Press,1/18/2016,Business Analytics

We will now connect to the *books* local database contained in the file *data/books.db

In [3]:
# Load SQL magic and connect to local database

%load_ext sql
%sql sqlite:///data/books.db

'Connected: @data/books.db'

We have now connected to the data_science_books.db local database and can now query the database using SQL rather than pandas as shown above. The database consists of tables with the names *details*, *description*, and *price*.

In [4]:
%%sql
select
    *
from details
limit 3

 * sqlite:///data/books.db
Done.

[(0, '9.78332E+12', 'Essentials of Business Analytics', 'An Introduction to the Methodology and its Applications', 'Bhimasankaram Pochiraju, Sridhar Seshadri', 'Springer', '7/10/2019', 'Business Analytics'),
 (1, '9.78147E+12', 'Business Analytics', 'An Introduction', 'Jay Liebowitz', 'CRC Press', '12/19/2013', 'Business Analytics'),
 (2, '1292017430', 'Key Business Analytics', 'The 60+ Business Analysis Tools Every Manager Needs to Know', 'Bernard Marr', 'FT Press', '1/18/2016', 'Business Analytics')]

We can now combine tables using SQL syntax

In [12]:
%%sql
select details.title as title, description.page_count as pages
from details
inner join description 
using(id)
order by pages desc
limit 3

 * sqlite:///data/books.db
Done.

[('SAGE Research Methods Foundations', 6000.0),
 ('Encyclopedia of Cognitive Science, 4 Volume Set', 4456.0),
 ('Encyclopedia of Cognitive Science, 4 Volume Set', 4456.0)]